<html>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Analyzing Liquid Biopsy Datas with Autosklearn</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">About</a></li>
            <li><a href="{{ url_for('instructions') }}">Instructions</a></li>
	    <li><a href="{{ url_for('form') }}">Parameters</a></li>
	    <li><a href="{{ url_for('upload_file') }}">Upload</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>